body {
	background-image: url(../images/soft_wallpaper/soft_wallpaper.png);
}
h2 {
	border-bottom: 1pt solid saddlebrown;
}
.container {
	min-height: 100%;
}
.navbar {
	min-height: 100px;	
	width: 100%;
	border-bottom: 1pt solid saddlebrown;
	border-radius: 0;
	text-align: center;
}
.navbar-brand {
	margin-top: 10px;
	padding: 0px 60px 0px 40px;
	height: 100px;
	line-height: 100px;
}
.navbar-nav {
	margin-top: 30px;
	padding: 9px 10px;

}
.nav {
	margin: 25px 0px;
	font-size: 28pt;
}
.footer {
	border-top: 1pt solid saddlebrown;
}
.footer-text {
	text-align: center;
}
.jumbotron {
	border: 1pt solid saddlebrown;
	min-height: 100%;
}
.color {
	color: saddlebrown;
}
#head-button {
	margin-top: 20px;
	border-color: saddlebrown;
	color: brown;
}
#head-font {
	color: saddlebrown;
	font-family: 'Abril Fatface', sans-serif;
	text-align: center;
	margin-bottom: 10px;
}
#sub {
	color: gray;
	font-size: 12pt;
	text-align: center;
}
#background {
	background-image: url(../images/ricepaper_v3/ricepaper_v3.png);
	color:#434746;
	font-family: 'Noto Sans', sans-serif;
}
.menuGroups{
	font-size:30px;
	font-weight:bold;
}
#PanelBox{
	background-image: url(../images/ricepaper_v3/ricepaper_v3.png);
	color:#434746;
	font-family: 'Noto Sans', sans-serif;
	border:5px;
}
#nav-color {
	color: saddlebrown;
	font-family: 'acme', sans-serif;
}
#cater-menu {
	text-align: center;
	line-height: 40PX;
}
#index-text {
	line-height: 40px;
}

#nav-color:hover {
	color: gray;
	text-decoration: underline;
}

@media (max-width: 1199px) {
	.navbar {
		min-height: 75px;
	}
	.navbar-brand {
		height: 75px;
		line-height: 75px;
	}
	.nav {
		font-size: 20pt;
	}
	.navbar-nav {
		margin-top: 20px;
		padding: 4px 6px;
	}
}
@media (max-width: 991px) {
   	.navbar {
		min-height: 75px;
	}
	.navbar-brand {
		height: 65px;
		line-height: 65px;
	}
	.nav {
		font-size: 16pt;
	}
	.navbar-nav {
		margin-top: 20px;
		padding: 0px;
	}
}
@media (max-width: 768px) {
   	.navbar {
		min-height: 75px;
	}
	.navbar-brand {
		height: 65px;
		line-height: 65px;
		margin-bottom: 5px;
	}
	.nav {
		font-size: 16pt;
	}
	.navbar-nav {
		margin-top: 20px;
		padding: 0px;
	}
}