body {
	background-image: url(../images/soft_wallpaper/soft_wallpaper.png);
}
h2 {
	border-bottom: 1pt solid saddlebrown;
}
.container {
	min-height: 100%;
}
.navbar {
	min-height: 150px;	
	width: 100%;
	border-bottom: 1pt solid saddlebrown;
	border-radius: 0;
}

.navbar-brand {
	padding: 0px 15px;
	height: 150px;
	line-height: 150px;
	color: sienna;
}
.navbar-nav {
	margin-top: 30px;
	padding: 9px 10px;

}
.nav {
	margin: 50px 0px;
	font-size: 28pt;
}
.footer {
	border-top: 1pt solid saddlebrown;
	
}
.footer-text {
	text-align: center;
}
.jumbotron {
	border: 1pt solid saddlebrown;
	min-height: 100%;
}
#head-font {
	color: saddlebrown;
	font-family: 'Abril Fatface', sans-serif;
	text-align: center;
}
#sub {
	color: gray;
	font-size: 12pt;
	text-align: center;
}
#background {
	background-image: url(../images/ricepaper_v3/ricepaper_v3.png);
	color:#434746;
	font-family: 'Noto Sans', sans-serif;
}
.menuGroups{
	font-size:30px;
	font-weight:bold;
	color:#434746;
	
}
.list-group a{
	color:#434746;
	text-decoration:none;
	
	
}

#PanelBox{
	background-image: url(../images/ricepaper_v3/ricepaper_v3.png);
	color:#434746;
	font-family: 'Noto Sans', sans-serif;
	border:5px;
	border-radius: 0px 15px 0px 0px;
	text-decoration: none;
}
#nav-color {
	color: saddlebrown;
	font-family: 'Abril Fatface', sans-serif;
}
#cater-menu {
	text-align: center;
	line-height: 40PX;
}
.menu-mainimg{
	width:500px;
	height:330px;
	border-radius:15px 15px 0px 0px;
	margin-left:15%;
}
.nav navbar-nav {
	
}
.menu-displayed { 
	background-image: url(../images/ricepaper_v3/ricepaper_v3.png);
	color:#434746;
	font-size: 20px;
	margin-bottom:30px;
}
.menu-displayed td{ 
	padding:10px;
	border: .5px #f2f2f2 solid;
}
.menu-displayed tr{
	-webkit-trasition: background-color 2s;
	trasition: background-color 2s;
}
.menu-displayed tr:hover{
	background-image: url(../images/soft_wallpaper/soft_wallpaper.png);
}
.col-md-7{
	margin-bottom:30px;
}
.menu-displayed tr{
	
}
.resForm{
	text-align:center;
}
.resForm label{
	font-size: 20px;
	color: #434746;
	
}
.compBtn{
	
}


